.p5js-sketch-container
{
   width : 100%;
   max-width : 640px;
   max-height : 640px;
   padding-top : 100%;
   position : relative;
   overflow : hidden;
}

.p5js-sketch-container iframe
{
   display : block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   overscroll-behavior: contain;
}
