main
{
   background: rgb(25,25,78);
   background: linear-gradient(0deg, 
                  rgba(44,25,81,1) 1%, 
                  rgba(103,12,36,1) 37%, 
                  rgba(25,25,78,1) 100%);
   color : #FFFFFF;
}

.sidebar
{
   background-color : #19194E;
}

.sidebar a
{
   color : #FFFFFF;
}

.sidebar .active a
{
   color : rgba(103,12,36,1);
}
