body
{
   background-image: url("/images/Square_Tiles-FCO.png");
}

header
{
   background-color: rgba(0,0,0,0.75);
   text-align: center;
}

main
{
   background-image: url("/images/Square_Tiles-YEF.png");
   color : rgb(220, 200,190);
}

.sidebar
{
   background-color : rgba(60,38,43, 1);
}

.sidebar a
{
   color : #FFFFFF;
   background-color : rgba(64,64,64, 0.4);
}

.sidebar .active a
{
   color : rgba(50,12,36,1);
   font-weight : bold;
}

.textbox
{
   background-color : rgba(34,12,26,0.9);
   padding : 2em;
}
